name: Test event

on:
  push:
    branches: []
  pull_request:
    branches: [ ]
  create:
      tags: ['v*']
  workflow_dispatch:
    inputs:
      publish-www:
        description: 'Publish on WWW'
        required: false
        type: boolean
      build-type:
        description: 'Build type'
        required: false
        type: string
      BUILD_TYPE:
        type: environment
        
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  PROJECT_NAME: test
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Check github
      run: |
        env | sort | grep '^GITHUB'
    - name: setup control artifacts
      run: |
        CWD=$(cd $RUNNER_WORKSPACE; pwd)
        export ARTIFACTS_DIR=$CWD/artifacts
        [ ! -e $ARTIFACTS_DIR ] && mkdir -p $ARTIFACTS_DIR
        echo "::notice::Save to $ARTIFACTS_DIR"
        echo '${{ toJSON(env) }}' >> $ARTIFACTS_DIR/env.json
        echo '${{ toJSON(github) }}' >> $ARTIFACTS_DIR/github.json
        echo '${{ toJSON(runner) }}' >> $ARTIFACTS_DIR/runner.json
        echo '${{ toJSON(secrets) }}' >> $ARTIFACTS_DIR/secrets.json
        env | sort >> $ARTIFACTS_DIR/environment
        echo "ARTIFACTS_DIR=$ARTIFACTS_DIR" >> $GITHUB_ENV
    - name: Uploading ${{ env.FULL_NAME }}
      uses: actions/upload-artifact@v4
      with:
        name: "test-event"
        path: "${{ env.ARTIFACTS_DIR }}/*"
    - name: Uploading Github files
      uses: actions/upload-artifact@v4
      with:
        name: "test-event-runner-temp"
        path: "${{ runner.temp }}/*"
